@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: #333;
  word-break: break-word; }

html {
  background-color: #333;
  width: 100%;
  height: 100%; }

body {
  margin: 0px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F4F4F4; }

#map {
  width: 98%;
  height: 350px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto; }

.header {
  height: 300px;
  background-image: url(https://c1.staticflickr.com/3/2862/12427414574_06dcd08319_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  padding: 55px; }
  .header h1 {
    color: #fff;
    letter-spacing: 3px;
    text-align: center; }
  .header select {
    outline: none;
    width: 400px;
    font-size: 16px;
    padding: 5px 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 3px solid #fff;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer; }
    .header select option {
      background-color: #eee;
      font-size: 16px;
      padding-top: 30px; }

.content {
  padding: 50px;
  padding-top: 120px;
  padding-bottom: 35px; }
  .content .topBtn {
    position: fixed;
    display: none;
    right: 8%;
    bottom: 70px;
    z-index: 2; }
    .content .topBtn img {
      width: 35px;
      -webkit-box-shadow: 0px 0px 10px -3px #111;
              box-shadow: 0px 0px 10px -3px #111; }
  .content .regionBox {
    width: 80%;
    background-color: #fff;
    padding: 20px 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    font-size: 0px;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 0px 2px 8px -1px rgba(153, 153, 153, 0.7);
            box-shadow: 0px 2px 8px -1px rgba(153, 153, 153, 0.7);
    z-index: 1; }
    .content .regionBox h4 {
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0px;
      margin-bottom: 15px;
      text-align: center; }
    .content .regionBox button {
      width: 16%;
      font-size: 18px;
      padding: 5px 15px;
      border-radius: 5px;
      color: #fff;
      letter-spacing: 1px;
      cursor: pointer;
      outline: none;
      border: none; }
    .content .regionBox .region1 {
      background-color: #809BCE;
      margin-right: 5%; }
      .content .regionBox .region1:hover {
        background-color: #8DA6D6;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
    .content .regionBox .region2 {
      background-color: #82BAD8;
      margin-right: 5%; }
      .content .regionBox .region2:hover {
        background-color: #87BFDD;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
    .content .regionBox .region3 {
      background-color: #B3CE80;
      margin-right: 5%; }
      .content .regionBox .region3:hover {
        background-color: #BCD68D;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
    .content .regionBox .region4 {
      background-color: #F4C573;
      margin-right: 5%; }
      .content .regionBox .region4:hover {
        background-color: #FFCD77;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
    .content .regionBox .region5 {
      background-color: #EAB9BC; }
      .content .regionBox .region5:hover {
        background-color: #F4C1C4;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }
  .content hr {
    margin: 0px;
    border: none;
    border-top: 2px dashed #95B8D1; }
  .content .icon1 {
    width: 20px;
    height: 20px;
    background-color: #F4F4F4;
    border: 2px solid #95B8D1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 492px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .content h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 35px;
    margin-bottom: 30px; }
  .content .noInfo {
    text-align: center;
    letter-spacing: lpx; }
  .content .list {
    font-size: 0px;
    display: none; }
    .content .list .localBox {
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 25px;
      display: inline-block;
      padding: 20px;
      -webkit-box-shadow: 0px 2px 8px -1px rgba(153, 153, 153, 0.7);
              box-shadow: 0px 2px 8px -1px rgba(153, 153, 153, 0.7);
      vertical-align: top;
      border-radius: 7px;
      overflow: hidden; }
      .content .list .localBox .pic {
        width: 100%;
        height: 160px;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden; }
        .content .list .localBox .pic .adjust {
          width: 100%;
          -webkit-transform: translateY(-20%);
                  transform: translateY(-20%); }
      .content .list .localBox h3 {
        font-size: 19px;
        margin: 0px;
        color: #fff;
        font-weight: normal;
        text-shadow: 1px 1px 8px #000;
        letter-spacing: 1px;
        line-height: 275px;
        vertical-align: bottom; }
      .content .list .localBox .placeName {
        height: 160px;
        margin: -20px;
        margin-bottom: 10px;
        padding: 0px 20px;
        z-index: 1; }
        .content .list .localBox .placeName::after {
          content: '';
          position: absolute;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: -1;
          -webkit-transform: scaleY(-1);
                  transform: scaleY(-1);
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(120%, rgba(0, 0, 0, 0.7)));
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.7) 120%); }
        .content .list .localBox .placeName span {
          font-size: 14px;
          color: #fff;
          position: absolute;
          right: 20px; }
      .content .list .localBox li {
        font-size: 16px;
        margin: 0px;
        line-height: 25px; }
      .content .list .localBox p {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: bold;
        margin: 0px;
        line-height: 27px;
        padding-left: 30px; }
      .content .list .localBox .time {
        background-image: url(https://goo.gl/hJyoxL);
        background-repeat: no-repeat; }
      .content .list .localBox .addr {
        background-image: url(https://goo.gl/f9bBmc);
        background-repeat: no-repeat; }
      .content .list .localBox .tel {
        background-image: url(https://goo.gl/nsB8Ve);
        background-repeat: no-repeat; }
      .content .list .localBox .free {
        background-image: url(https://goo.gl/5w9CDB);
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
        bottom: 20px; }
  .content .page {
    display: none;
    text-align: center;
    margin-top: 20px; }
    .content .page button {
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-weight: bold;
      padding: 2px 5px;
      margin: 0px 2px; }
      .content .page button:hover {
        color: #7DB3D1; }
    .content .page #prevBtn {
      margin-right: 15px; }
    .content .page #nextBtn {
      margin-left: 15px; }

.footer {
  background: linear-gradient(135deg, #0153BA 0%, #F0A2AC 100%);
  text-align: center;
  padding: 20px; }
  .footer p {
    margin: 0px;
    line-height: 25px; }
  .footer .p1 {
    color: #fff; }
  .footer .p2 {
    color: #FFD084; }

@media (max-width: 1500px) {
  .content .topBtn {
    right: 70px; } }

@media (max-width: 1050px) {
  body {
    width: 100%; }
    body .content .topBtn {
      right: 30px; } }

@media (max-width: 768px) {
  .content .regionBox h4 {
    font-size: 18px; }
  .content .regionBox button {
    width: calc(92% / 5);
    font-size: 18px;
    padding: 5px 5px; }
  .content .regionBox .region1, .content .regionBox .region2, .content .regionBox .region3, .content .regionBox .region4 {
    margin-right: 2%; }
  .content .list {
    font-size: 0px;
    display: none; }
    .content .list .localBox {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 30px; } }

@media (max-width: 576px) {
  .header {
    padding-left: 6%;
    padding-right: 6%; }
    .header select {
      outline: none;
      width: 88%; }
  .content {
    padding-left: 0px;
    padding-right: 0px; }
    .content .regionBox {
      top: -80px; }
    .content .list .localBox {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; }
      .content .list .localBox p {
        font-size: 16px; } }

@media (max-width: 480px) {
  .content .list .localBox p {
    font-size: 16px; }
  .content .list .localBox .free {
    position: relative;
    right: 0px;
    bottom: 0px; }
  .content .page {
    padding: 0px 30px;
    line-height: 30px; } }
